{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}


{% block title %}
   Payoffs
{% endblock %}

{% block styles %}
    <style>
.card {
    font-size: 18px;
}
    </style>
{% endblock %}


{% block content %}
    <div class="card">
  <div class="card-body">

      <p>Thank you for participating.</p>
     <p> We will calculate your bonus depending on which decision Player X took and award you the corresponding bonus.</p>


  </div></div>

    <br><br>

<button type="button" class="btn btn-primary btn-right btn-lg" onclick="completed()" > Back to Prolific </button>
{% endblock %}

{% block scripts%}
<script>

        let completionlink = js_vars.completionlink;
        function completed() {
            console.log("clicking the button")
            window.location.href =completionlink;
        }

</script>
{% endblock %}
