{% extends "global/Page.html" %}
{% load otree %}
{% load staticfiles otree_tags %}

{% block styles %}
<style>
    .card {
        font-size: 18px;
    }


        .center {
        display: grid;
        place-items: center;
    }
</style>
{% endblock %}

{% block title %}
    Welcome
{% endblock %}

{% block content %}
<div class="card">
    <div class="card-body">
        <p>
            Welcome! You are now participating in an experimental economics study funded by the University of Amsterdam.
            Please read the instructions carefully. They will explain everything you need to know about participating in the experiment.
        </p>

        <p> You will receive a participation fee of {{ C.participation_fee}} pounds.
            During the experiment, you can earn additional money.
            Throughout the experiment, we do not talk about pounds, but about points.
            Thus, your income will initially be calculated in points.
            The total number of points you achieve during the experiment will then be converted into pounds at the end.
            The conversion is as follows:
        </p>

        <p class="center">50 points = 1 pound</p>

        <p>

            During the experiment, you will be matched randomly with another participant. You will not learn the identity of the assigned participant.
            Likewise, the other participants will never learn anything about your identity. All decisions in this experiment are made anonymously.
        </p>

        <p>
            If you have any questions, you can always contact the researcher via Prolific.
        </p>


        <div >
            <p>
                <strong>Quality Control Notice:</strong> We have implemented measures to ensure that all answers are provided by human participants.
                These include, but are not limited to, the reCAPTCHA test shown below. Please note that AI-generated responses are not accepted.
            </p>
                <div class="center">
                    <div class="g-recaptcha" data-sitekey="{{ RECAPTCHA_SITE_KEY }}" data-callback="verify_token"></div>
                    </div>

        </div>

        <p>Press "Next" to continue.</p>
    </div>
</div>

<br>
<div style="float: right;">
    <div class="center">{% next_button %}</div>
</div>

    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script>
         function verify_token(response_token) {
             liveSend({'response_token': response_token});
         }
    </script>
{% endblock %}
