{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
   Final Questions 1
{% endblock %}

{% block styles %}
<style>
    .card {
        font-size: 18px;
    }

    .center {
        display: grid;
        place-items: center;
    }

    .column {
        flex: 1;
        padding: 10px; /* Optional: adds space inside each column */
    }

    .two-columns {
        display: flex;
        gap: 25px;
        width: 100%;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        font-size: 18px; /* Reduce font size for a more compact look */
        border-radius: 5px;
        overflow: hidden;
    }

    th, td {
        padding: 6px 10px; /* Reduce padding to make cells smaller */
        text-align: center;
        border-right: 1px solid #e0e0e0;
    }

    th:last-child, td:last-child {
        border-right: none;
    }

    th {
        font-weight: 500;
        background-color: #f5f5f5;
    }

    tr {
        background-color: #fff;
    }

    tr:not(:first-child) {
        border-top: 1px solid #f0f0f0;
    }

    th:nth-child(1), td:nth-child(1) {
        width: 25%; /* Adjust the percentage as needed */
    }

    th:nth-child(2), td:nth-child(2) {
        width: 15%; /* Adjust the percentage as needed */
    }

    th:nth-child(3), td:nth-child(3) {
        width: 15%; /* Adjust the percentage as needed */
    }
</style>
{% endblock %}

{% block content %}
<div class="card">
    <div class="card-body">
                {% if role_ == "dictator" %}
                    <p> Before proceeding to payment, please answer two more sets of questions. Below you can find the first set.</p>


                     {% if reveal == 1 %}
                    <p> You decided to reveal Player Y's payoffs,  {{ form.q_dictator_why.label }} </p>
                     {% elif reveal == 0 %}
                    <p> You decided not to reveal Player Y's payoffs,  {{ form.q_dictator_why.label }} </p>
                    {% endif %}

                    <p> {{ form.q_dictator_why }} </p>
                    <br>
                    {% if reveal == 1 %}
                        <p> Which of the following better describes your primary motivation for revealing Player Y's payoffs? </p>
                    {% elif reveal == 0 %}
                        <p> Which of the following better describes your primary motivation for not revealing Player Y's payoffs? </p>
                    {% endif %}

                    <p> {{ form.motivation }} </p>

                {% elif role_ == "receiver" %}
                    <p> Before proceeding to payment, please answer the questions below.</p>

                    <p> {{ form.q_receiver_perception.label }} </p>
                    <p> {{ form.q_receiver_perception }} </p>

                    <p> {{ form.q_receiver_reasoning.label }} </p>
                    <p> {{ form.q_receiver_reasoning }} </p>
                    <br>

                    <p>Consider the two following motivations for revealing or not revealing.
                        Which do you think better describes the primary motivation of Player X for revealing Player Y's payoffs?</p>

                    <p>Player X decided to reveal because...</p>
                    <p> {{ form.motivation_receiver }} </p>

                {% endif %}



        </div>
        <br>
        <br>

        </div>
        <br>
        <br>
    </div>



</div>

<br>
<br>
    <div class="center">{% next_button %}</div>

{% endblock %}
