{% extends "global/Page.html" %}
{% block title %}{% endblock %}

{% block styles %}
    <link href="{% static 'custom.css' %}" rel="stylesheet">
    <style>
    .nav-tabs {
        display: none;
    }
    .card {
        font-size: 18px;
    }
center {
  display: grid;
  place-items: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 18px; /* Reduce font size for a more compact look */
    border-radius: 5px;
    overflow: hidden;
}

th, td {
    padding: 6px 10px; /* Reduce padding to make cells smaller */
    text-align: center;
    border-right: 1px solid #e0e0e0;
        font-size: 18px;
}

th:last-child, td:last-child {
    border-right: none;
}

th {
    font-weight: 500;
    background-color: #f5f5f5;
}

tr {
    background-color: #fff;
}

tr:not(:first-child) {
    border-top: 1px solid #f0f0f0;
}

th:nth-child(1), td:nth-child(1) {
    width: 25%; /* Adjust the percentage as needed */
}

th:nth-child(2), td:nth-child(2) {
    width: 15%; /* Adjust the percentage as needed */
}

th:nth-child(3), td:nth-child(3) {
    width: 15%; /* Adjust the percentage as needed */
}
.center {
  display: grid;
  place-items: center;
}


</style>
{% endblock %}

{% block content %}

    <!-- Tab navigation -->
    <ul class="nav nav-tabs fixed-top navbar-light bg-light justify-content-center" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="part1-tab" data-toggle="tab" href="#part1" role="tab" aria-controls="part1" onclick="topFunction()">Tab 1</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="part2-tab" data-toggle="tab" href="#part2" role="tab" aria-controls="part2" onclick="topFunction()">Tab 2</a>
        </li>
    </ul>
    <br>
    <br>

    <!-- Tab content -->
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane show active" id="part1" role="tabpanel" aria-labelledby="part1-tab">
            <div class="card-header bg-transparent mainheader">
                <h3 class="card-title font-weight-bold">Instructions I</h3>
            </div>
            <br>

                        <div class="card">
                <div class="card-body" style="justify-content: center;">
                    <p>During the experiment you are randomly matched with another participant in a group of two.</p>
                    <p>Each of you is assigned a role in the experiment. You are either Player X or Player Y. In each pair, there is one Player X and one Player Y. The difference between these roles will be described below.</p>
                    <p>The game that you play in pairs looks as depicted below. </p>

                        <ul>
                    <li>Player X will choose one of two options "A" or "B".</li>
                    <li> Player Y will not make any choice. While Player X makes a choice, Player Y will answer some questions in a "Waiting Task".</li>
                        </ul>
                    <p>The payments both players receive depend only on the choice of Player X.</p>
                    <p>The numbers in the table are the payments that players can receive. The payments in this table were chosen only to demonstrate how the game works. In the actual game, the payments will be different. For example, if Player X chooses "B", then we should look in the bottom row for the earnings. Here, Player X receives 3 points and Player Y receives 4 points.</p>
                    <br>
                    <br>
                    <div class="center">
                    {% include '_templates/snippets/Table.html' %}
                    </div>
                    <br>
                    <br>

                </div>
            </div>
            <br>
            <div style="display: flex; justify-content: flex-end;">
            <button onclick="topFunction()" type="button" class="nexttab btn-primary btn next">Next</button>
                </div>
        </div>

        <div class="tab-pane" id="part2" role="tabpanel" aria-labelledby="part2-tab">
            <div class="card-header bg-transparent mainheader">
                <h3 class="card-title font-weight-bold">Control Questions</h3>
            </div>
            <br>

            <div class="card">
                <div class="card-body">
                    <p>Please answer the following control questions. Your answers only serve to establish if you understood the game and do not influence the payments you will receive.</p>
                    <br>
                    <div class="center">
                    {% include '_templates/snippets/Table.html' %}
                    </div>
                     <br>
                    In this example, if Player X chooses "B" then:
                    <br>
                    <br>
                    {{ form.qXB.label }}
                    {{ form.qXB }}
                    <br>
                    {{ form.qYB.label }}
                    {{ form.qYB }}
                    <br>
                    In this example, if Player X chooses "A" then:
                    <br>
                    <br>
                    {{ form.qXA.label }}
                    {{ form.qXA }}
                    <br>
                    {{ form.qYA.label }}
                    {{ form.qYA }}
                </div>
            </div>
<br><br><br>

            <div style="float: left;">
                <button onclick="topFunction()" type="button" class="prevtab btn-primary btn back">Back</button>
            </div>

            <div style="float: right;">
                <button class="nexttab btn-primary btn next">Next</button>
            </div>


        </div>
    </div>



{% block scripts %}

<script src="{% static 'prev_next_button.js' %}"></script>

<script>
var ul = document.getElementById('grid');
for (var i = ul.children.length; i >= 0; i--) {
    ul.appendChild(ul.children[Math.random() * i | 0]);
}</script>
{% endblock %}


{% endblock %}