{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}


{% block title %}
    Role Assignment
{% endblock %}

{% block styles %}
<style>
    .card {
    font-size: 18px;
    }
</style>
{% endblock %}


{% block content %}
    <div class="card">
  <div class="card-body">


    {{if role_ == 'dictator'}}
      <p> You have been assigned to be Player X. </p>
    {{ elif role_ == "receiver" }}
      <p> You have been assigned to be Player Y.</p>
    {{ endif }}

      <p> Press "Next" to begin with the task.</p>


  </div></div>

    <br>

         <div style="float: right;">
   {% next_button %}
         </div>

{% endblock %}
