{% extends "global/Page.html" %}
{% load otree %}

{{block styles }}
    <style>

        .center {
            text-align: center;
        }
        .vignette-card {
            background-color: #ffffcc;
            border: 1px solid #ccc;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            padding: 10px;
            width: 100%;
            height: 100%;
            overflow: auto;

        }


        .card {
    font-size: 18px;
    }

        .vignette-card p {
            line-height: 1.6;
            color: #666;
        }
    </style>

{{ endblock }}

{{ block title }} Final Questions 2


{{ endblock }}

{% block content %}


<div class="card">
    <div class="card-body">

<p>Finally, this last set of questions that we ask you to answer are part of a separate survey that is not directly related to the main experiment.
    To answer these questions, please first consider the following scenario:</p>

        <br><br>


         <!--Gender of the professor is randomized treatgendermentor =1 is male -->

        <div class="vignette-card">
            <p>A
                  {% if player.treatgendermentor == 1 %}male
                  {% elif player.treatgendermentor == 0 %}female
                  {% endif%} professor has been invited to participate in an informal mentorship program.
                The program involves a one time, one-on-one mentoring session with either a male or a female student, taking place at a specified location.
                To participate, the professor needs to answer some questions for the matching procedure, including the gender of the mentee
                {% if player.treatgendermentor == 1 %}he
                {% elif player.treatgendermentor == 0 %}she
                {% endif%}wants to mentor. A voucher for two non-alcoholic drinks is provided for the meeting.
            </p>
        </div>
    <br> <br>
    <p> Before you answer the following questions, please consider the scenario described above.
        There are no correct answers—please provide your honest opinion based on the information provided. </p>
<br><br>
        {% if player.treatgendermentor == 1 %}

         <!--Location presentation needs to be randomized treatlocation == 1  is first the pub, then the cafeteria -->

              {% if player.treatlocation == 1 %}

                  <p>1. Imagine that the informal mentorship meeting is scheduled to take place at a <em>pub near campus</em>,
                  and the professor is informed of this in advance.
                  How would you assess the appropriateness of the professor choosing to meet with...</p>
         <!--Gender of the mentee needs to be randomized treatgendermentee=1 means male is always shown first.-->
                                {% if player.treatgendermentee == 1 %}
                                    {{form.appropriateness_pub_MM.label}}
                                    {{form.appropriateness_pub_MM}}
                                    {{form.appropriateness_pub_MF.label}}
                                    {{form.appropriateness_pub_MF }}
                                {% elif player.treatgendermentee == 0 %}
                                    {{form.appropriateness_pub_MF.label}}
                                    {{form.appropriateness_pub_MF }}
                                    {{form.appropriateness_pub_MM.label}}
                                    {{form.appropriateness_pub_MM}}
                                {% endif %}
                    <br> <br>

                  <p>2.  Now imagine that the informal mentorship meeting is scheduled to take place at an <em>on-campus cafeteria</em>,
                  and the professor is informed of this in advance.
                  How would you assess the appropriateness of the professor choosing to meet with...</p>
                                {% if player.treatgendermentee == 1 %}
                                    {{form.appropriateness_cafe_MM.label}}
                                    {{form.appropriateness_cafe_MM}}
                                    {{form.appropriateness_cafe_MF.label}}
                                    {{form.appropriateness_cafe_MF }}
                                {% elif player.treatgendermentee == 0 %}
                                    {{form.appropriateness_cafe_MF.label}}
                                    {{form.appropriateness_cafe_MF }}
                                    {{form.appropriateness_cafe_MM.label}}
                                    {{form.appropriateness_cafe_MM}}
                                {% endif%}
                    <br> <br>

              {% elif player.treatlocation == 0 %}

                <p>1. Imagine that the informal mentorship meeting is scheduled to take place at an <em>on-campus cafeteria</em>,
                  and the professor is informed of this in advance.
                  How would you assess the appropriateness of the professor choosing to meet with...</p>
                                {% if player.treatgendermentee == 1 %}
                                    {{form.appropriateness_cafe_MM.label}}
                                    {{form.appropriateness_cafe_MM}}
                                    {{form.appropriateness_cafe_MF.label}}
                                    {{form.appropriateness_cafe_MF }}
                                {% elif player.treatgendermentee == 0 %}
                                    {{form.appropriateness_cafe_MF.label}}
                                    {{form.appropriateness_cafe_MF }}
                                    {{form.appropriateness_cafe_MM.label}}
                                    {{form.appropriateness_cafe_MM}}
                                {% endif%}
                    <br> <br>

                  <p>2. Now, imagine that the informal mentorship meeting is scheduled to take place at a <em>pub near campus</em>,
                  and the professor is informed of this in advance.
                  How would you assess the appropriateness of the professor choosing to meet with...</p>
                                {% if player.treatgendermentee == 1 %}
                                    {{form.appropriateness_pub_MM.label}}
                                    {{form.appropriateness_pub_MM}}
                                    {{form.appropriateness_pub_MF.label}}
                                    {{form.appropriateness_pub_MF }}
                                {% elif player.treatgendermentee == 0 %}
                                    {{form.appropriateness_pub_MF.label}}
                                    {{form.appropriateness_pub_MF }}
                                    {{form.appropriateness_pub_MM.label}}
                                    {{form.appropriateness_pub_MM}}
                                {% endif%}
                    <br> <br>

               {% endif %}

                    <p>We asked other respondents in this survey to express their
                       beliefs about how appropriate they think it is for a male professor to choose to meet
                       with either a <i>female</i>  or a <i>male</i>  student for an informal mentorship meeting in either an <i>on-campus cafeteria</i> or a <i>pub near campus</i>.
                       </p>
                    <p>What do you think other respondents believe about these situations?</p>
                    1. A male professor meeting with a male student at a <i>pub near campus</i> is <strong>........</strong> him meeting a female student at a <i>pub near campus</i>.
                    <p>Please complete the sentence by selecting one of the following options:{{form.appropriatenessOther_pub_M}} </p>

                    <br>
                    2. A male professor meeting with a male student at a <i>on-campus cafeteria</i> is <strong>........</strong> him meeting a female student at an <i>on-campus cafeteria</i>.
                    <p>Please complete the sentence by selecting one of the following options:{{form.appropriatenessOther_cafe_M}} </p>

                                <br><br>
                    Do you have any other thoughts on this?
                    {{ form.openq }}


        {% elif player.treatgendermentor == 0 %}

                      {% if player.treatlocation == 1 %}
                              <p> 1. Imagine that the informal mentorship meeting is scheduled to take place at a <em>pub near campus</em>,
                              and the professor is informed of this in advance.
                              How would you assess the appropriateness of the professor choosing to meet with...</p>

                          <!--Gender of the mentee needs to be randomized treatgendermentee=1 means male is always shown first.-->
                                            {% if player.treatgendermentee == 1 %}
                                                {{form.appropriateness_pub_FM.label}}
                                                {{form.appropriateness_pub_FM}}
                                                {{form.appropriateness_pub_FF.label}}
                                                {{form.appropriateness_pub_FF }}
                                            {% elif player.treatgendermentee == 0 %}
                                                {{form.appropriateness_pub_FF.label}}
                                                {{form.appropriateness_pub_FF }}
                                                {{form.appropriateness_pub_FM.label}}
                                                {{form.appropriateness_pub_FM}}
                                            {% endif %}
                                <br> <br>

                              <p>2.  Now imagine that the informal mentorship meeting is scheduled to take place at an <em>on-campus cafeteria</em>,
                              and the professor is informed of this in advance.
                              How would you assess the appropriateness of the professor choosing to meet with...</p>
                                            {% if player.treatgendermentee == 1 %}
                                                {{form.appropriateness_cafe_FM.label}}
                                                {{form.appropriateness_cafe_FM}}
                                                {{form.appropriateness_cafe_FF.label}}
                                                {{form.appropriateness_cafe_FF }}
                                            {% elif player.treatgendermentee == 0 %}
                                                {{form.appropriateness_cafe_FF.label}}
                                                {{form.appropriateness_cafe_FF }}
                                                {{form.appropriateness_cafe_FM.label}}
                                                {{form.appropriateness_cafe_FM}}
                                            {% endif%}
                                <br><br>



                        {% elif player.treatlocation == 0 %}

                              <p>1. Imagine that the informal mentorship meeting is scheduled to take place at an <em>on-campus cafeteria</em>,
                              and the professor is informed of this in advance.
                              How would you assess the appropriateness of the professor choosing to meet with...</p>
                                            {% if player.treatgendermentee == 1 %}
                                                {{form.appropriateness_cafe_FM.label}}
                                                {{form.appropriateness_cafe_FM}}
                                                {{form.appropriateness_cafe_FF.label}}
                                                {{form.appropriateness_cafe_FF }}
                                            {% elif player.treatgendermentee == 0 %}
                                                {{form.appropriateness_cafe_FF.label}}
                                                {{form.appropriateness_cafe_FF }}
                                                {{form.appropriateness_cafe_FM.label}}
                                                {{form.appropriateness_cafe_FM}}
                                            {% endif%}
                                <br> <br>

                              <p>2. Now, imagine that the informal mentorship meeting is scheduled to take place at a <em>pub near campus</em>,
                              and the professor is informed of this in advance.
                              How would you assess the appropriateness of the professor choosing to meet with...</p>
                                            {% if player.treatgendermentee == 1 %}
                                                {{form.appropriateness_pub_FM.label}}
                                                {{form.appropriateness_pub_FM}}
                                                {{form.appropriateness_pub_FF.label}}
                                                {{form.appropriateness_pub_FF }}
                                            {% elif player.treatgendermentee == 0 %}
                                                {{form.appropriateness_pub_FF.label}}
                                                {{form.appropriateness_pub_FF }}
                                                {{form.appropriateness_pub_FM.label}}
                                                {{form.appropriateness_pub_FM}}
                                            {% endif%}
                                <br> <br>


                                  {% endif %}

                    <p>We asked other respondents in this survey to express their
                       beliefs about how appropriate they think it is for a female professor to choose to meet
                       with either a <i>female</i> or a <i>male</i> student for an informal mentorship meeting in either an <i>on-campus cafeteria</i> or a <i>pub near campus</i>.
                      </p>
                    <p>What do you think other respondents believe about these situations?</p>
                    1. A female professor meeting with a male student at a <i>pub near campus</i> is <strong>........</strong> her meeting a female student at a <i>pub near campus</i>.
                    <p>Please complete the sentence by selecting one of the following options:{{form.appropriatenessOther_pub_F}} </p>

                    <br>
                    2. A female professor meeting with a male student at a <i>on-campus cafeteria</i> is <strong>........</strong> her meeting a female student at an <i>on-campus cafeteria</i>.
                    <p>Please complete the sentence by selecting one of the following options:{{form.appropriatenessOther_cafe_F}} </p>



                    <br><br>
                    Do you have any other thoughts on this?
                    {{ form.openq }}

        {% endif %}





    </div>
</div>

<br><br>
<div class="center">{% next_button %}</div>
{% endblock %}



