{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{{block styles }}
<style>
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

</style>
{{ endblock }}

{{ block title }} Part 2/3{{ endblock }}
{{ block content }}

 <div class="card">
     <div class="card-body">


         <p>Reconsider the scenario we described:</p>

         {{if player.treatnumber == 1}}
          <div class="card-body" style="background-color: #ffffcc;">
            A male professor is invited to participate in an informal mentorship program which consists of a 1-1 meeting in a pub with a male student.
        The program awards a voucher for 2 (non-alcoholic) drinks for the meeting.  </div>
            <br>
         <p> When making a decision to participate or not in the program, how intense do you think you would feel the following emotions?
<br>
         <br>
         <br>
         <br>



         <div class=“parent”> <table class="table table-striped">
    {{ for field in form }}
        <tr>
            <th>{{ field.label }}</th>
            {{ for choice in field }}
                <td>{{ choice }}</td>
            {{ endfor }}
        </tr>
    {{ endfor }}
</table>
             <div class=“child”><div style="position:absolute;left: 360px;top: 220px">Very weak</div> </div>
             <div class=“child”><div style="position:absolute;left: 370px;top: 240px">emotion.</div> </div>
             <div class=“child”><div style="position:absolute;left: 490px;top: 240px">Mild</div> </div>
             <div class=“child”><div style="position:absolute;left: 580px;top: 240px">Moderate</div> </div>
             <div class=“child”><div style="position:absolute;left: 710px;top: 240px">High</div> </div>
            <div class=“child”><div style="position:absolute;right: 78px;top: 220px">Very high</div> </div>
            <div class=“child”><div style="position:absolute;right: 78px;top: 240px">emotion.</div> </div>



         </div>


Once you have filled in this survey, please, press "Next" to continue.



         {{elif player.treatnumber == 2}}

         <div class="card-body" style="background-color: #ffffcc;">A male professor is invited to participate in an informal mentorship program which consists of a 1-1 meeting in a pub with a female student.
        The program awards a voucher for 2 (non-alcoholic) drinks for the meeting.  </div>

        <br>
         <p> When making a decision to participate or not in the program, how intense do you think you would feel the following emotions?
<br>
         <br>
         <br>
         <br>



         <div class=“parent”> <table class="table table-striped">
    {{ for field in form }}
        <tr>
            <th>{{ field.label }}</th>
            {{ for choice in field }}
                <td>{{ choice }}</td>
            {{ endfor }}
        </tr>
    {{ endfor }}
</table>
             <div class=“child”><div style="position:absolute;left: 360px;top: 220px">Very weak</div> </div>
             <div class=“child”><div style="position:absolute;left: 370px;top: 240px">emotion.</div> </div>
             <div class=“child”><div style="position:absolute;left: 490px;top: 240px">Mild</div> </div>
             <div class=“child”><div style="position:absolute;left: 580px;top: 240px">Moderate</div> </div>
             <div class=“child”><div style="position:absolute;left: 710px;top: 240px">High</div> </div>
            <div class=“child”><div style="position:absolute;right: 78px;top: 220px">Very high</div> </div>
            <div class=“child”><div style="position:absolute;right: 78px;top: 240px">emotion.</div> </div>


         </div>


Once you have filled in this survey, please, press "Next" to continue.



         {{elif player.treatnumber == 3}}
        <div class="card-body" style="background-color: #ffffcc;">A male professor is invited to participate in an informal mentorship program as part of a solidarity campaign of the United Nations called HeForShe where males are asked
        to advocate for gender equality, stand in support for women and encouraged to be agents of change. The program consists of a 1-1 mentoring meeting in a pub with a female student.
        The program awards a voucher for 2 (non-alcoholic) drinks for the meeting. </div>
<br>
         <p> When making a decision to participate or not in the program, how intense do you think you would feel the following emotions?

<br>
         <br>
         <br>
         <br>



         <div class=“parent”> <table class="table table-striped">
    {{ for field in form }}
        <tr>
            <th>{{ field.label }}</th>
            {{ for choice in field }}
                <td>{{ choice }}</td>
            {{ endfor }}
        </tr>
    {{ endfor }}
</table>
             <div class=“child”><div style="position:absolute;left: 360px;top: 250px">Very weak</div> </div>
             <div class=“child”><div style="position:absolute;left: 370px;top: 290px">emotion.</div> </div>
             <div class=“child”><div style="position:absolute;left: 490px;top: 330px">Mild</div> </div>
             <div class=“child”><div style="position:absolute;left: 580px;top: 330px">Moderate</div> </div>
             <div class=“child”><div style="position:absolute;left: 710px;top: 330px">High</div> </div>
            <div class=“child”><div style="position:absolute;right: 78px;top: 310px">Very high</div> </div>
            <div class=“child”><div style="position:absolute;right: 78px;top: 330px">emotion.</div> </div>


         </div>


Once you have filled in this survey, please, press "Next" to continue.



         {{endif}}

     </div></div>
<br>

  <div class="center">{{ next_button }}</div>

{{ endblock }}
