{% extends "global/Page.html" %}
{% load otree %}
{% load staticfiles otree_tags %}

{% block styles %}
<style>
    .card {
        font-size: 18px;
    }
</style>
{% endblock %}

{% block title %}
    Lectura
{% endblock %}

{% block content %}
<div class="card">
    <div class="card-body">

A continuación le proporcionamos un texto sobre un evento reciente de la historia de España. Por favor, lea el texto con atención antes de proseguir.
        Tras la lectura del texto, le haremos unas preguntas relacionadas.
                    <br>

            <br>




    </div>
</div>

<br>
<div style="float: right;">
    <div class="center">        <button type="submit" class="btn btn-primary">Siguiente</button>
</div>
</div>
{% endblock %}



