{% extends "global/Page.html" %}
{% load otree %}
{% load staticfiles otree_tags %}

{% block styles %}
<style>
    .card {
        font-size: 18px;
    }
</style>
{% endblock %}

{% block title %}
    Guerra Civil y Franquismo
{% endblock %}

{% block content %}
<div class="card">
    <div class="card-body">
A continuación le proporcionamos un texto sobre la epoca de la Guerra Civil y el Franquismo. Por favor, lealo con atención antes de proseguir.
                    <br>

            <br>

        <ul>

            <li>La Guerra Civil Española (1936–1939) surgió de profundas divisiones políticas, sociales y económicas, agravadas por la incapacidad tanto de la Segunda República como de sus oponentes conservadores para reconciliar sus visiones opuestas de España, lo que llevó inevitablemente a un conflicto violento.</li>
            <br>
            <li>La guerra presenció atrocidades en ambos bandos: los republicanos cometieron actos de violencia anticlerical y purgas de opositores políticos, mientras que los nacionalistas llevaron a cabo una represión generalizada, ejecuciones masivas y bombardeos indiscriminados, lo que resultó en una devastadora pérdida de vidas en toda España.</li>
            <br>

            <li>El gobierno republicano intentó equilibrar sus aspiraciones democráticas con la necesidad de mantener el orden en un contexto de creciente inestabilidad, mientras que los nacionalistas, bajo el liderazgo de Franco, establecieron un régimen autoritario que trajo estabilidad, aunque a costa de las libertades individuales y el pluralismo político.</li>
            <br>

            <li>La República impulsó la autonomía regional como una forma de valorar la diversidad cultural de España, pero esto generó tensiones con quienes priorizaban una visión de unidad nacional. Mientras tanto, el régimen de Franco adoptó un enfoque centralista que reforzó una identidad nacional única, aunque esto limitó la expresión de las culturas y lenguas regionales.</li>
            <br>

            <li>La guerra dejó una marca en España. El régimen de Franco trajo décadas de orden y desarrollo, aunque sustentado en políticas represivas. La España posterior ha intentado reparar injusticias pasadas y gestionar las tensiones entre identidades regionales y la cohesión nacional.</li>
</ul>


        <p>Una vez haya leído el texto, haga click en "Siguiente" para continuar.</p>
    </div>
</div>

<br>
<div style="float: right;">
    <div class="center">        <button type="submit" class="btn btn-primary">Siguiente</button>
</div>
</div>
{% endblock %}



