{% extends "global/Page.html" %}
{% load otree %}
{% load staticfiles otree_tags %}

{% block styles %}
<style>
    .card {
        font-size: 18px;
    }
</style>
{% endblock %}

{% block title %}
¡Bienvenido!
{% endblock %}

{% block content %}
<div class="card">
    <div class="card-body">




    <p>Está participando en una encuesta realizada por investigadores de la Universidad de Ámsterdam y la Universidad de Maastricht (Países Bajos).</p>

    <p>Al completar esta encuesta, podrá ganar dinero. Recibirá una <strong>compensación fija</strong> por su participación (independientemente de sus decisiones) y, además, podrá obtener un <strong>bono adicional</strong> que dependerá de sus respuestas. Se le indicará claramente en qué preguntas es posible ganar un bono.</p>

    <p>Esta encuesta consiste de cinco breves partes. En cada una de ellas, se le explicará claramente qué debe hacer.</p>
        <p>En esta encuesta recopilaremos algunos datos demográficos. Además de su código de identificacion de Netquest, no se le pedirá que proporcione información personal con la que se le pueda identificar.
            Su información y respuestas solo se utilizarán para los fines de este estudio, y los datos serán tratados con estricta confidencialidad.
        </p>

        <label for="prolific_id">Por favor, introduzca su código de identificacion de Netquest:</label>
        <input required type="text" style="max-width:400px" class="form-control" id="prolific_id" name="prolific_id" autocomplete="off">
        <br>



        <p> Presione "Siguiente" para continuar.</p>

    </div>
</div>


<br>
        <button style="float: right;" type="submit" onclick="submitForm()" class="btn btn-primary">Siguiente</button>

{% endblock %}



