{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{{ block styles }}
<style>
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
    .card {
        font-size: 18px;
    }
</style>
{{ endblock }}

{{ block title }} Parte 4: 1/5. Emociones acerca del texto {{ endblock }}
{{ block content }}

 <div class="card">
     <div class="card-body">


         <p>¿Cuáles y qué tan intensas son las emociones que le genera (o le ha generado) el texto de la primera parte de este estudio?</p>

<p>Por favor, evalúe la intensidad de cada una de las siguientes emociones usando la escala proporcionada.</p>
<br>
         <br>
           <br>
         <div class="parent"> <table class="table table-striped">
    {{ for field in form }}
        <tr>
            <th>{{ field.label }}</th>
            {{ for choice in field }}
                <td>{{ choice }}</td>
            {{ endfor }}
        </tr>
    {{ endfor }}
</table>
             <div class="child"><div style="position:absolute;left: 410px;top: 140px">Ninguna</div> </div>
             <div class="child"><div style="position:absolute;left: 410px;top:160px">Emoción</div> </div>

             <div class="child"><div style="position:absolute;left: 520px;top: 160px">Leve</div> </div>
             <div class="child"><div style="position:absolute;left: 610px;top: 160px">Moderada</div> </div>
             <div class="child"><div style="position:absolute;left: 730px;top: 160px">Alta</div> </div>
            <div class="child"><div style="position:absolute;right: 78px;top: 140px">Muy alta</div> </div>
             <div class="child"><div style="position:absolute;right: 78px;top:160px">Emoción</div> </div>



         </div>


Una vez haya completado estas preguntas, por favor, pulse "Siguiente" para continuar.

     </div></div>
<br>

<div style="float: right;">        <button type="submit" class="btn btn-primary">Siguiente</button>
</div>
{{ endblock }}
