{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{{block styles }}
<style>
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


        .center {
            text-align: center;
        }
        .vignette-card {
            background-color: #ffffcc;
            border: 1px solid #ccc;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            padding: 10px;
            width: 100%;
            height: 100%;
            overflow: auto;
        }



        .vignette-card p {
        font-family: Arial, sans-serif;
            font-size: 16px;
            line-height: 1.6;
            color: #666;
        }
</style>


{{ endblock }}

{{ block title }} Part 2/2{{ endblock }}
{{ block content }}

 <div class="card">
     <div class="card-body">


         <p>Reconsider the scenario we described:</p>

         {{if player.treatnumber in [1,2,3,4,5]}}
                 {{if player.treatnumber == 1}}
                <!-- Vignette 1 -->
                <div class="vignette-card">
                    <p>A male professor has been invited to participate in an informal mentorship program. The program targets male students and involves a one time, one-on-one mentoring session with a male student, taking place in a pub close to campus. A voucher for two non-alcoholic drinks is provided for the meeting.
                    </p>
                </div>
                {{elif player.treatnumber == 2}}
                <!-- Vignette 2 -->
                <div class="vignette-card">
                    <p>A male professor has been invited to participate in an informal mentorship program. The program targets female students and involves a one time, one-on-one mentoring session with a female student, taking place in a pub close to campus. A voucher for two non-alcoholic drinks is provided for the meeting.
                    </p>
                </div>
                {{elif player.treatnumber == 3}}
                <!-- Vignette 3 -->
                <div class="vignette-card">
                    <p> A male professor has been invited to participate in an informal mentorship program as part of the United Nations' HeForShe solidarity campaign, which encourages men to advocate for gender equality, support women, and act as agents of change. The program targets female students and involves a one time, one-on-one mentoring session with a female student, taking place in a pub close to campus. A voucher for two non-alcoholic drinks is provided for the meeting.
                    </p>
                </div>
                {{elif player.treatnumber == 4}}
                <!-- Vignette 4 -->
                <div class="vignette-card">
                    <p>A male professor has been invited to participate in an informal mentorship program. The program focuses on fostering growth for female students through a one time, one-on-one mentoring experience. The session takes place in an intimate setting—a cozy, quiet private bar that encourages connection and meaningful exchange. With an inviting ambiance, the atmosphere naturally promotes open dialogue. A voucher for two drinks is provided to further enhance the relaxed experience.
                    </p>
                </div>
                {{elif player.treatnumber == 5}}
                <!-- Vignette 5 -->
                <div class="vignette-card">
                    <p>A male professor has been invited to participate in an informal mentorship program. The program targets female students and involves a one time, one-on-one mentoring session with a female student, taking place in a pub close to campus. A voucher for two non-alcoholic drinks is provided for the meeting. The invitation for the mentorship program includes a reminder of the Zero Tolerance Policy regarding any form of gender and sexual harassment.
                    </p>
                </div>
                 {{endif}}

         <br>
         <p> How strongly would you associate the following emotions with the scenario described?</p>
         <br>
         <br>
         <br>
         <br>

         <div class=“parent”> <table class="table table-striped">
    {{ for field in form }}
        <tr>
            <th>{{ field.label }}</th>
            {{ for choice in field }}
                <td>{{ choice }}</td>
            {{ endfor }}
        </tr>
    {{ endfor }}
</table>
             <div class=“child”><div style="position:absolute;left: 360px;top: 280px">Very weak</div> </div>
             <div class=“child”><div style="position:absolute;left: 360px;top: 300px">association</div> </div>
             <div class=“child”><div style="position:absolute;left: 490px;top: 300px">Mild</div> </div>
             <div class=“child”><div style="position:absolute;left: 580px;top: 300px">Moderate</div> </div>
             <div class=“child”><div style="position:absolute;left: 710px;top: 300px">High</div> </div>
            <div class=“child”><div style="position:absolute;right: 90px;top: 280px">Very high</div> </div>
            <div class=“child”><div style="position:absolute;right: 78px;top: 300px">association</div> </div>



         </div>


Once you have filled in this survey, please, press "Next" to continue.



         {{elif player.treatnumber in [6,7,8]}}

                {{if player.treatnumber == 6}}
                    <!-- Vignette 6 -->
                    <div class="vignette-card">
                        <p>A male professor has been invited to join an informal mentorship program. The program targets male and female students. The program consists of a one-time, one-on-one mentoring session at a pub near campus for which a voucher for 2 non-alcoholic drinks is awarded.The professor has selected for the mentoring session this student: (see below) from a pool of 10 students with mixed gender and study background.
                        </p>
                        <img src="{% static 'AF.jpeg' %}" alt="" width="250" height="350" style="display: block; margin: auto;">
                    </div>

                                 <br>
                                 <p> How strongly would you associate the following emotions with the scenario described?</p>
                                 <br>
                                 <br>
                                 <br>
                                 <br>

                                 <div class=“parent”> <table class="table table-striped">
                            {{ for field in form }}
                                <tr>
                                    <th>{{ field.label }}</th>
                                    {{ for choice in field }}
                                        <td>{{ choice }}</td>
                                    {{ endfor }}
                                </tr>
                            {{ endfor }}
                        </table>
                                     <div class=“child”><div style="position:absolute;left: 360px;top: 660px">Very weak</div> </div>
                                     <div class=“child”><div style="position:absolute;left: 360px;top: 680px">association</div> </div>
                                     <div class=“child”><div style="position:absolute;left: 490px;top: 680px">Mild</div> </div>
                                     <div class=“child”><div style="position:absolute;left: 580px;top: 680px">Moderate</div> </div>
                                     <div class=“child”><div style="position:absolute;left: 710px;top: 680px">High</div> </div>
                                    <div class=“child”><div style="position:absolute;right: 90px;top: 660px">Very high</div> </div>
                                    <div class=“child”><div style="position:absolute;right: 78px;top: 680px">association</div> </div>

                {{elif player.treatnumber in [7,8]}}
                    {{if player.treatnumber == 7}}
                    <!-- Vignette 7 -->
                   <div class="vignette-card">
                        <p>A male professor has been invited to join an informal mentorship program. The program targets male and female students. The program consists of a one-time, one-on-one mentoring session at a pub near campus for which a voucher for 2 non-alcoholic drinks is awarded.The professor has selected for the mentoring session this student: (see below) from a pool of 10 students with mixed gender and study background.
                        </p>
                       <img src="{% static 'UM.jfif' %}" alt="" width="250" height="290" style="display: block; margin: auto;">
                    </div>
                    {{elif player.treatnumber == 8}}
                    <!-- Vignette 8 -->
                   <div class="vignette-card">
                        <p>A male professor has been invited to join an informal mentorship program. The program targets male and female students. The program consists of a one-time, one-on-one mentoring session at a pub near campus for which a voucher for 2 non-alcoholic drinks is awarded.The professor has selected for the mentoring session this student: (see below) from a pool of 10 students with mixed gender and study background.
                        </p>
                       <img src="{% static 'UF.jfif' %}" alt="" width="250" height="290" style="display: block; margin: auto;">
                    </div>
                     {{endif}}

                                 <br>
                                 <p> How strongly would you associate the following emotions with the scenario described?</p>
                                 <br>
                                 <br>
                                 <br>
                                 <br>

                                 <div class=“parent”> <table class="table table-striped">
                            {{ for field in form }}
                                <tr>
                                    <th>{{ field.label }}</th>
                                    {{ for choice in field }}
                                        <td>{{ choice }}</td>
                                    {{ endfor }}
                                </tr>
                            {{ endfor }}
                        </table>
                                     <div class=“child”><div style="position:absolute;left: 360px;top: 590px">Very weak</div> </div>
                                     <div class=“child”><div style="position:absolute;left: 360px;top: 610px">association</div> </div>
                                     <div class=“child”><div style="position:absolute;left: 490px;top: 610px">Mild</div> </div>
                                     <div class=“child”><div style="position:absolute;left: 580px;top: 610px">Moderate</div> </div>
                                     <div class=“child”><div style="position:absolute;left: 710px;top: 610px">High</div> </div>
                                    <div class=“child”><div style="position:absolute;right: 90px;top: 590px">Very high</div> </div>
                                    <div class=“child”><div style="position:absolute;right: 78px;top: 610px">association</div> </div>

  {{endif}}



         </div>


Once you have filled in this survey, please, press "Next" to continue.



         {{elif player.treatnumber in [9,10,11]}}
                 {{if player.treatnumber == 9}}
                        <!-- Vignette 9 -->
                        <div class="vignette-card">
                            <p>A male professor has been invited to participate in an informal mentorship program. The program involves a one time, one-on-one mentoring session with either a male or a female student, taking place in a cozy pub close to campus. To participate, the professor needs to answer some questions for the matching procedure: a question on hobbies, one on his native/first language and one regarding the gender of the mentee he wants to mentor. The professor says that his hobbies are playing sports, that his mother tongue is English and that he chooses to mentor a female student. A voucher for two non-alcoholic drinks is provided for the meeting.
                            </p>
                        </div>
                {{elif player.treatnumber == 10}}
                        <!-- Vignette 10 -->
                        <div class="vignette-card">
                            <p> A male professor has been invited to participate in an informal mentorship program. The program involves a one time, one-on-one mentoring session with either a male or a female student, taking place at the university cafeteria.  To participate, the professor needs to answer some questions for the matching procedure: a question on hobbies, one on his native/first language and one regarding the gender of the mentee he wants to mentor. The professor says that his hobbies are playing sports, that his mother tongue is English and that he chooses to mentor a female student. A voucher for two non-alcoholic drinks is provided for the meeting.
                            </p>
                        </div>
                 {{elif player.treatnumber == 11}}
                         <!-- Vignette 11 -->
                        <div class="vignette-card">
                            <p> A male professor has been invited to participate in an informal mentorship program. The program involves a one time, one-on-one mentoring session with either a male or a female student, taking place at the university cafeteria.  To participate, the professor needs to answer some questions for the matching procedure: a question on hobbies, one on his native/first language and one regarding the gender of the mentee he wants to mentor. The professor says that his hobbies are playing sports, that his mother tongue is English and that he chooses to mentor a male student. A voucher for two non-alcoholic drinks is provided for the meeting.
                            </p>
                        </div>
                {{endif}}

                                 <br>
                                 <p> How strongly would you associate the following emotions with the scenario described?</p>
                                 <br>
                                 <br>
                                 <br>
                                 <br>

                                 <div class=“parent”> <table class="table table-striped">
                            {{ for field in form }}
                                <tr>
                                    <th>{{ field.label }}</th>
                                    {{ for choice in field }}
                                        <td>{{ choice }}</td>
                                    {{ endfor }}
                                </tr>
                            {{ endfor }}
                        </table>
             <div class=“child”><div style="position:absolute;left: 360px;top: 360px">Very weak</div> </div>
             <div class=“child”><div style="position:absolute;left: 360px;top: 380px">association</div> </div>
             <div class=“child”><div style="position:absolute;left: 490px;top: 380px">Mild</div> </div>
             <div class=“child”><div style="position:absolute;left: 580px;top: 380px">Moderate</div> </div>
             <div class=“child”><div style="position:absolute;left: 710px;top: 380px">High</div> </div>
            <div class=“child”><div style="position:absolute;right: 90px;top: 360px">Very high</div> </div>
            <div class=“child”><div style="position:absolute;right: 78px;top: 380px">association</div> </div>

         </div>


Once you have filled in this survey, please, press "Next" to continue.






         {{endif}}

     </div></div>
<br>

  <div class="center">{{ next_button }}</div>

{{ endblock }}
